.profile-img {
  border-radius: 12px;
  grid-area: a;
}

.name-block {
  grid-area: b;
}

.name-block__name-box {
  background-color: var(--background-color-gray);
  padding: 12px;
}

.name-block__greetings {
  font-size: 10px;
  line-height: 15px;
  font-weight: 500;
  padding-bottom: 46px;
}

.name-block__name {
  font-size: 14px;
  line-height: 14.56px;
  font-weight: 600;
  padding-bottom: 6px;
}

.name-block__job {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: var(--tertiary-color);
}

.language-block {
  grid-area: c;
}

.language-block__name {
  font-weight: 500;
  font-size: 10px;
  line-height: 10.41px;
  flex: 0 0 58px;
}

.language-block__progress {
  width: 100%;
  background-color: var(--background-color-green);
  border-radius: 3px;
  height: 11px;
  margin-right: auto;
}

.language-block__item {
  display: flex;
  justify-content: space-between;
  gap: 17px;
}

.profile__block {
  display: grid;
  grid-template-areas: "a b c c";
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.language-block__languages {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.language-block__item:last-child {
  width: 70%;
}

section {
  padding-top: 15px;
}