@import './reset.css';
@import './variables';

body {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 8px;
  font-family: var(--primary-text);
  overflow-x: hidden;
  line-height: 12px;
}

section {
  position: relative;
  overflow: hidden;
  padding: 10px 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-fluid {
  padding: 0 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.section-wrapper {
  background-color: var(--background-color-gray);
  padding: 12px;
  border-radius: 12px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.section-wrapper__black {
  background-color: var(--background-color-black);
  padding: 12px;
  border-radius: 12px;
  height: 100%;
}

h2 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}


div {
  word-break: break-all;
}

button {
  border: none;
  border-radius: 8px;
  padding: 4px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--background-color-green);
  outline: none;
  border: 1px solid var(--background-color-green);
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: var(--background-color-green);
  background-color: var(--secondary-color);
  border: 1px solid var(--background-color-green);
}

li {
  list-style-type: disc;
}

.experience-block__names {
  max-width: 124px;
  width: 100%;
}

.ripple__default-styles {
  background-position: center;
  transition: background 0.8s;
}

.ripple__default-styles::focus-visible {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: var(--background-color-blue) radial-gradient(circle, transparent 1%, var(--secondary-color) 1%) center/150000%;
  outline: 1px solid var(--background-color-green);
  border-radius: 8px;
}

.ripple:active {
  background-color: var(--secondary-color);
  background-size: 100%;
  transition: background 0s;
}

.rippleGreen:hover {
  background: var(--background-color-black) radial-gradient(circle, transparent 1%, var(--background-color-black) 1%) center/150000%;
  outline: 1px solid var(--background-color-green);
  border-radius: 8px;
}

.rippleGreen:active {
  background-color: var(--secondary-color);
  background-size: 100%;
  transition: background 0s;
}

.rippleBlack:hover {
  background: var(--background-color-green) radial-gradient(circle, transparent 1%, var(--background-color-green) 1%) center/150000%;
  outline: 1px solid var(--background-color-green);
  border-radius: 8px;
}

.rippleBlack:active {
  background-color: var(--background-color-gray);
  background-size: 100%;
  transition: background 0s;
}


.generatePDFButton {
  position: fixed;
  right: 5px;
  top: 15px;
  z-index: 10;
}

.generatePDFButton__icon {
  width: 20px;
}

.generatePDFButton span {
  display: none;
}


@media only screen and (min-width: 1024px) {
  body {
    font-size: 11px;
    line-height: 16px;
  }

  h2 {
    font-size: 16px;
    line-height: 24px;
  }

  button {
    padding: 12px 18px;
  }

  .generatePDFButton {
    right: 20px;
  }

  .generatePDFButton span {
    display: block;
  }

  .generatePDFButton__icon {
    display: none;
  }
}